body {
  margin: 0;
}

.testfont1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
}

.testfont2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.headerstyle {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
  background: var(--background);
}

.placeimg {
  display: block;
}

h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  color: var(--text-color);
}

h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.cardtext {
  font-size: 15px;
  color: #6E8CA0;
}

.centersearch {
  display: grid;
  place-items: center;
}

.searchbg {
  width: 80%;
  grid-template-columns: 1fr;
  background: #ededed;
  place-items: center;
  display: grid;
  padding: 10px 30px 10px 30px;
}

input {
  width: 100%;
  height: 20px;
  border: none;
  grid-column: 1;
}

.searchicon {
  grid-column: 2;
  width: 20px;
  height: 20px;
  display: block;
  place-self: baseline;
}

/* inbox/archive swipe buttons */

.container {
  display: grid;
  grid-template-columns: 1fr 40%;
  grid-auto-rows: 75px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.container>* {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.placearticleitem1 {
  place-self: center;
  grid-column: 1;
  grid-row: 1/span 2;
}

.jokeitem {
  background: #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 15px;
}

.deleteitem {
  background: #87bcbf;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.animate {
  transition: 1s ease;
}

.fadeout {
  animation: fade 1s;
  transform: translate(-800px);
  transition-timing-function: ease-out;
  transition: transform 1s;
}

@keyframes fade {
  from {
    opacity: 1
  }

  to {
    opacity: 0
  }
}

/* prefers colors */

:root {
  --color-mode: 'light';
  --color-dark: #141414;
  --color-dark-alpha: rgba(0, 0, 0, 0.1);
  --color-light: #d4d4d4;
  --color-light-alpha: rgba(255, 255, 255, 0.9);
  --background: #fff;
  --text-color: #141414;
  --button-background: var(--color-dark);
  --button-color: var(--color-light);
  --border-color: var(--color-dark-alpha);
}

body {
  background: var(--background);
  color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--color-dark);
    --text-color: var(--color-light);
    --button-background: var(--color-light);
    --button-color: var(--color-dark);
    --border-color: var(--color-light-alpha);
  }


}

[data-user-color-scheme="dark"] .placeimg,
[data-user-color-scheme="dark"] .genreplacement-right {
  filter: invert(1);
}

[data-user-color-scheme="dark"] {
  --background: var(--color-dark);
  --text-color: var(--color-light);
  --button-background: var(--color-light-alpha);
  --button-color: var(--color-dark);
  --border-color: var(--color-light-alpha);
}