/* * {
  outline: 1px solid green;
} */

body {
  margin: 0;
}

.headerstyle {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  place-items: center;
}


h1 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
}

h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.cardtext {
  font-size: 15px;
  color: #6E8CA0;
}

.centersearch {
  display: grid;
  place-items: center;
}

.searchbg {
  width: 80%;
  background: blue;
  place-items: center;
  display: grid;
  /* grid-template-columns: 70% 20px; */
  padding: 10px 30px 10px 30px;
  outline: 1px solid red;
}

input {
  width: 100%;
  height: 20px;
  background: yellow;
  border: none;
  grid-column:1;
}

.searchicon {
  grid-column: 2;
  width: 20px;
  height: 20px;
  background: yellow;
  display: block;
  place-self: baseline;
}