.settings {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 35px);
  margin: 60px;
}

.settingsh2 {
  color: #87BCBF;
}

.maingridcategoriessubcenter {
  color: #1B1C20;
}

body {
  background: var(--background);
  color: #6E8CA0;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

.maingrid {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto;
  place-items: center;
}

.maingridcategories {
  width: 100%;
  background: #c5c5c5;
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 22px;
}

.maingrid div:first-of-type {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.maingrid div:last-of-type {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.maingridcategoriessubcenter {
  align-self: center;
}

.lowerplacement {
  display: grid;
  place-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap: 60px;
}

/* light mode toggle */

.togglebtn {
  border-radius: 34px;
  width: 190px;
  padding: 20px;
  text-align: center;
  border: 3px solid #6E8CA0;
}

/* fetch filter buttons */

/* v1 */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  place-self: end;
}

.hideinput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: grey;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: white;
  transition: .4s;
}

input:checked+.slider {
  background: #87BCBF;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider {
  border-radius: 34px;
}

.slider:before {
  border-radius: 50%;
}

/* v2 */

#checkbox1zaal1, #checkbox1zaal2, #checkbox1zaal3, #checkbox1zaal4, #checkbox1zaal5 {
  width: 50px;
  height: 50px;
  opacity: 1;
  display: none;
}

.cb,
.rd {
  position: relative;
  display: block;
  width: 2.5em;
  height: 1.5em;
  border: 1px solid #999;
  background-color: #ccc;
  transition: 0.5s ease-in-out;
  border-radius: 0.75em;
  grid-column: 2;
  place-self: end;
}

.cb::before,
.rd::before {
  position: absolute;
  top: 0.25em;
  left: 0.25em;
  width: 1em;
  height: 1em;
  line-height: 0.75em;
  content: '';
  background-color: #fff;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
}

.rd::before {
  top: 0.125em;
  left: 0.125em;
  width: 0.5em;
  height: 0.5em;
  font-size: 2em;
  border-radius: 0.5em;
  content: '';
}

input[type="checkbox"]:checked+.cb,
input[type="radio"]:checked+.rd {
  background-color: #2196f3;
}

input[type="checkbox"]:checked+.cb::before {
  transform: translateX(1em);
}

input[type="radio"]:checked+.rd::before {
  transform: translateX(0.5em);
}